/* my variables style */

:root {
    --blueColor: #5ca4bc;
    --blueColorBC: #d7f4fde3;
    --blueColorWhite: #80dfff88;
    --BlackBC: #5ca4bc;
    --colorHover: #0f4e8d;
    --whiteColor: #ffffff;
    --activeColorHeader: rgb(97, 97, 87);
    --buttonColor: rgb(97, 97, 87);
    --textColorWhite: #ffffff;
    --textColorGrey: #4A4D4E;
    --spacing: 10px;
    --spacingMargin: 35px;
    --error: rgb(204, 14, 14);
    --background-color: rgb(251 251 251);
    --colorHoverlink: rgba(0, 0, 0, 0.123);
    --colorfooter: #424343;
    --textColorGreyParagraph: #818181;
    --inputColor: #5F6466;
    --colorforWeakGrey: #74777769;
    --colorforWeakGreyBackground: #3c3f3fc5;
    --linkColor: rgb(0, 0, 0);
    --lowerBackground: #f3f3f3;
    --colorActive: #29b4e2;
    ;
}

/* all styles  ---------------------------*/


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* body syles  */

body {
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


/* menu  */
.main_nav a{
    color: var(--whiteColor);
}
.main_nav{
color: var(--textColorWhite);
background-color: var(--colorforWeakGreyBackground);
}

.menu .fa{
    margin: 10px;    
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    color: var(--whiteColor);
   
}

.menu a{
    text-decoration: none;
}


/* 
    service section */


.service_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--textColorGrey);
    background: var(--blueColor);
}


.register_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background-color: var(--BlackBC);
    color: var(--whiteColor);
    width: 100%;
    margin: 60px;
}
.register_content p,h1{
  margin: 10px;
  align-items: start;
}

.register_content .fa{
    color: var(--blueColorWhite);
}

.register_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--whiteColor);
    color: var(--whiteColor);
    width: 100%;
}

.login_content{
    color: var(--textColorGrey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login_content a{
    color: var(--BlackBC);
}


.Service_form_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}



.service_form_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
    padding: 20px;
   
}





/* 
    input  */

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: var(--whiteColor);
    border: 1px solid var(--blueColor);
    
}




.form_login {
    border-radius: 4px;
    margin: 50px;
}

.form_login input {
    border-radius: 20px;
}

.login, .register {
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: none;
    
    padding: 8px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px;
}

.login_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.login_register a {
    text-decoration: none;
    color: var(--blueColor);

}

.hide {
    display: none;
}

#alert_message_login, #alert_message_register {
    background: green;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* 


/* ..........register.....section..... */
.hide {
    display: none
}

.bottom_login {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}

footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    background-color: grey;
}



/* for responsiveness */

@media only screen and (max-width: 700px) {
    .ngana_logo {
        margin-right: 200px;
        font-size: 30px;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .hero_section {
        font-size: .8rem;
    }

    .hire_text {
        font-size: .7rem;
        min-width: 130px;
    }

    .statistic_section {
        background-color: var(--whiteColor);
        display: flex;
        /* flex-direction: column; */
        color: var(--textColorGrey);
        justify-content: center;
        align-items: center;
        padding: var(--spacing);
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.2em;
        box-shadow: none;
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: -35px;
        padding: 10px
    }


    /* for main_who_items */
    .main_who_items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--textColorGreyParagraph);
        margin: 20px;
    }

    .main_who_items img {
        width: 100%;
    }

    /* for services */
    .service_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* for portfolio */

    .portfolio_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio_nav h1 {
        font-size: 1rem;
        margin: 0px;
    }

    /* for footer section */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--colorfooter);
        color: var(--whiteColor);
        padding: 10px;
    }

    footer div {
        margin-right: 0px;
    }
}